<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Co-Bart!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./uikit.min.css" />
  <script src="./js/uikit.min.js"></script>
  <script src="./js/uikit-icons.min.js"></script>
</head>

<body>

{{{body}}}


<!-- footer section -->
<footer>
    <p class="uk-text-center uk-text-muted">Created by <a>AR</a>, <a>TN</a>, & <a>NT</a></p>
</footer>

</body>

{{#if loggenIn}}
<script src="/javascript/logout.js"></script>
{{/if}}