<div class="uk-child-width-expand" uk-grid>
        <div>
            <div uk-height-viewport="expand: true" class="uk-background-cover uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(blurry.jpeg);">
                <form id="signup-form" class="uk-panel uk-panel-box uk-form-muted">
                    <h1 class="uk-background-default">WELCOME TO CO-BART!</h1>
                    <div class="uk-form-row uk-text-center">
                        <input id="username-signup" type="text" class="uk-width-1-2 uk-form-large" type="text" placeholder="Username">
                    </div>
                    <div class="uk-form-row uk-text-center">
                        <input id="password-signup" type="text" class="uk-width-1-2 uk-form-large" type="text" placeholder="Password">
                    </div>
                    <div class="uk-form-row uk-text-center">
                        <a type="submit" class="uk-width-1-2 uk-button uk-button-primary uk-button-large" >Signup!</a>
                    </div>
                    <div class="uk-form-row uk-text-center">
                        <h4><a class="uk-link" href="/login">Have an account? Log in!</a></h4>
                    </div>
                </form>
           </div>
        </div>

<script src="/javascript/signup.js"></script>